<h1><img class="logo" src="/img/owl.jpeg">Dashboard </h1>


<h4>Aggregate Scores</h4>


{{#if forecastTopic}}
  <table class="striped">
    <thead>
      <tr>
        <th >User</th>
        <th>Number of Topics Participated</th>
        <th>Average Brier Score</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{forecastTopic.loggedUserTopics}}</td>
          <td>{{forecastTopic.ownAvg}}</td>
        </tr>
        <tr>
          <td>Other Users</td>
          <td>{{forecastTopic.count}}</td>
          <td></td>
        </tr>
    </tbody>
  </table>
{{/if}}

<h4>Your Results for Resolved Topics</h4>
{{#if forecastTopic}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Your Guess</th>
        <th>Result</th>
        <th>Your Brier Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each forecastTopic}}
        <tr>
            {{!-- poistan linkin toistaiseksi koska pitää olla erilainen sivu kun ratkaistu--}}
          <td><a href="/forecasts/show/{{id}}">{{title}}</a></td> 
          {{!-- <td>{{title}}</td> --}}
          <td>{{submits.0.submittedProbability}} %</td>
          <td>{{status}}</td>
          <td>{{submits.0.brierScore}}</td>
          {{!-- <td>{{formatDate data 'MMMM do YYYY'}}</td> --}}
          {{!-- <td><span class="dash-status">{{submitted}}</span></td> --}}
          {{!-- <td>
            <a class="btn left-align" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i> Edit</a>
            <form action="/stories/{{id}}?_method=DELETE" method="post" id="delete-form">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn red"><i class="fa fa-remove"></i> Delete</button>
            </form>
          </td> --}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You don't have resoved topics yet</p>
{{/if}}

{{#if organizations}}
<h5>You are member in following organizations:</h5>
  <table class="striped">

    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>

{{#each organizations}}
        <tr>
          <td>{{name}} </td>
          <td>{{#each members}} {{ firstName}} {{lastName}}; {{/each}}</td>
        </tr>
        {{/each}}

    </tbody>
  </table>

{{/if}}

