<h1>Edit Forecast Topic</h1>
<div class="row">
  <form action="/forecasts/{{forecastTopic.id}}?_method=PUT" method="post" class="col s12">
    <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="submittedProbability" value="{{submittedProbability}}">

    <div class="row">
      <div class="input-field">
        <input type="text" name="title" value="{{forecastTopic.title}}">
        <label for="title">Title</label>
      </div>
    </div>

    {{!-- <div class="row">
      <div class="input-field">
        <select name="status">
          {{#select story.status}}
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
            <option value="unpublished">Unpublished</option>
          {{/select}}
        </select>
        <label for="status">Status</label>
      </div>
    </div>
 --}}

    {{!-- <div class="row">
      <p>
        <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" {{#if story.allowComments}} checked="checked" {{/if}}>
        <label for="filled-in-box">Allow Comments</label>
      </p>
    </div> --}}

    <div class="row">
      <div class="input-field">
        <h5>Details:</h5>
        <textarea name="details">{{forecastTopic.details}}</textarea>
      </div>
    </div>

    <input type="submit" value="Save" class="btn">
  </form>
</div>

<form method="get" action="./delete/{{forecastTopic.id}}">
   <input type="submit" class="btn red" value="delete">
</form>

