<h4>Currently Open Topics</h4>
<h6>These are the active forecast topics submitted by users</h6>


{{!-- tän divin pitää mennä koko roskan yli jotta menee vierekkäin --}}
<div class="row">
<div class="grid js-masonry"
  data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>

{{#each forecastTopics}}

{{!-- topicit --}}
<div class="grid-item"
<div class="col s3">
    <div class="card panel">
        <div class="card-content">
            <h5>{{title}}</h5>
            <p>{{details}}</p>
<br>
            Your current guess for "Yes": {{submits.0.submittedProbability}} %

            <br><br>

{{!-- new guess --}}
                        <form action="/forecasts/submitGuess/{{id}}?_method=PUT" method="post">
                        <input type="hidden" name="title"  value="{{title}}">
                        <input type="hidden" name="details" value="{{details}}">
                            <label for="title">Guess (0-100 %)</label>

                            <input class="materialize-textarea" type="text" name="submittedProbability">
                        <input type="submit" value="Guess" class="waves-effect waves-light btn">
                    </form>
<br>
            <div class="card-action">
                <a class="btn grey" href="/forecasts/show/{{id}}">More</a>
                </div>
            </div>
        </div>
    </div>
 
    {{else}}
<p>No Active Topics</p>
</div>
{{/each}}
</div>
</div>
<br>

<img class="logo" src="/img/owl.jpeg">