<div class="row">
  <div class="col s12 m8">
    <h3>{{forecastTopic.title}}
      <small>{{{editIcon forecastTopic.user._id user.id forecastTopic.id false}}}</small>
    </h3>
    <div class="card story">
      <div class="card-content">
        <span class="card-title">Created: {{formatDate forecastTopic.date 'MMMM Do YYYY'}}</span>
        {{{forecastTopic.details}}}
      </div>
    </div>


      <div class="card">
        <div class="card-content">

{{!-- new guess --}}
        <p>Your newest guess for "Yes": {{forecastTopic.submits.0.submittedProbability}} %</p>


<div class="row">
    <form action="/forecasts/submitGuess/{{forecastTopic.id}}?_method=PUT" method="post">
        <input type="hidden" name="title"  value="{{forecastTopic.title}}">
        <input type="hidden" name="details" value="{{forecastTopic.details}}">
        {{#if forecastTopic.open}}
        <br>
        <p>You can modify your guess as often as you want until the topic is closed</p>

        <div class="input-field">
        <input class="materialize-textarea" type="text" name="submittedProbability">
        <label for="title">To modify your guess insert 0-100</label>
    </div>
<div class="input-field col">
    <input type="submit" value="Submit Guess" class="btn waves-effect waves-light">
    </div>
        </form>
        </div>
      {{else}}
      <br>
        <p>This topic is closed and you cannot submit guesses</p>


        {{/if}}
<br>

{{!-- COMMENTS --}}
          <span class="card-title">Comments</span>

{{!-- list comments --}}
      {{#each forecastTopic.comments}}
        <div class="card">
          <div class="card-content">
            <h5>{{commentBody}}</h5>
            <div class="chip">
              <img src="{{commentUser.image}}">
              <a href="/forecasts/user/{{commentUser.id}}">
              <h5>{{commentUser.firstName}} {{commentUser.lastName}}</h5>
              </a>
            </div>
            <br>
            <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
          </div>
        </div>
      {{/each}}

{{!-- add new comment --}}
          {{#if user}}
            <form method="post" action="/forecasts/comment/{{forecastTopic.id}}">
              <div class="input-field">
                <textarea name="commentBody" class="materialize-textarea"></textarea>
                <label> Add Comment</label>
              </div>
              <input type="submit" value="Submit Comment" class="btn">
            </form>
          {{else}}
            <p>Please <a href="/auth/google">log</a> in to leave a comment</p>
          {{/if}}


{{!-- change status --}}
<br>
<div class="row">
<form action="/forecasts/submitResult/{{forecastTopic.id}}?_method=PUT" method="post">
<input type="hidden" name="_method" value="PUT">

  <div class="input-field col s8">

    <input type="hidden" name="title" value="{{forecastTopic.title}}">
    <input type="hidden" name="details" value="{{forecastTopic.details}}">
      
    <select name="status">
      <option value="Unresolved and open" >Unresolved and Open for Guesses</option>
      <option value="Unresolved and closed">Unresolved and Closed for Guesses</option>
      <option value="True">True</option>
      <option value="False">False</option>
    </select>
    <label>Change Status Once the Event is Resolved or Guessing is Closed</label>
  </div>
  <div class="input-field col s2">
    <input type="submit" value="Submit Status" class="btn waves-effect waves-light">
    </div>

        </form>
        </div>

        </div>
      </div>



  {{!-- </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{forecastTopic.user.firstName}} {{forecastTopic.user.lastName}}</span>
        <img src="{{forecastTopic.user.image}}" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/forecasts/user/{{forecastTopic.user.id}}">More From {{forecastTopic.user.firstName}}</a>
      </div>
    </div>
  </div>
</div> --}}

