
<div class="row">
  <div class="col s12 m8">
    <h3>{{forecastTopic.title}}
      <small>{{{editIcon forecastTopic.user._id user.id forecastTopic.id false}}}</small>
    </h3>
    <div class="card story">
      <div class="card-content">
        <span class="card-title">Created: {{formatDate forecastTopic.date 'MMMM Do YYYY'}}</span>
        <span class="card-title">Status: {{forecastTopic.status}}</span>
        <p>{{forecastTopic.details}}</p>
        <br>
        <p>Organizations: {{#each forecastTopic.organizations}}<a href="/users/show/organizations/{{id}}">{{name}};</a>{{/each}}</p>
      </div>
    </div>

      <div class="card">
        <div class="card-content">

{{!-- new guess --}}
      <h5>Answer Options</h5>

  <div class="row">
    <form action="/forecasts/submitGuess/{{forecastTopic.id}}?_method=PUT" method="post">
        <input type="hidden" name="title"  value="{{forecastTopic.title}}">
        <input type="hidden" name="details" value="{{forecastTopic.details}}">
        {{#if forecastTopic.open}}
        <br>
        <p>You can modify your guess as often as you want until the topic is closed</p>
        <br>     
      {{#if forecastTopic.options.[0]}}
        <p> option 1: {{forecastTopic.options.[0]}}</p>
        <div class="input-field">
          <input class="materialize-textarea" type="text" name="submittedProbability0">
          <label for="title">To modify your guess insert 0-100</label>
        </div>
      {{/if}}
      {{#if forecastTopic.options.[1]}}
        <p> option 2: {{forecastTopic.options.[1]}}</p>
        <div class="input-field">
          <input class="materialize-textarea" type="text" name="submittedProbability1">
          <label for="title">To modify your guess insert 0-100</label>
        </div>
      {{/if}}
      {{#if forecastTopic.options.[2]}}
        <p> option 3: {{forecastTopic.options.[2]}}</p>
        <div class="input-field">
          <input class="materialize-textarea" type="text" name="submittedProbability2">
          <label for="title">To modify your guess insert 0-100</label>
        </div>
      {{/if}}
      {{#if forecastTopic.options.[3]}}
        <p> option 4: {{forecastTopic.options.[3]}}</p>
        <div class="input-field">
          <input class="materialize-textarea" type="text" name="submittedProbability3">
          <label for="title">To modify your guess insert 0-100</label>
        </div>
      {{/if}}
      {{#if forecastTopic.options.[4]}}
        <p> option 5: {{forecastTopic.options.[4]}}</p>
        <div class="input-field">
          <input class="materialize-textarea" type="text" name="submittedProbability4">
          <label for="title">To modify your guess insert 0-100</label>
        </div>
      {{/if}}



      <div class="input-field col">
        <input type="submit" value="Submit Guesses" class="btn waves-effect waves-light">
      </div>
    </form>
  </div>
      {{else}}
    <br>
<h5>Answer Options</h5>
      {{#if forecastTopic.options.[0]}}
        <p> option 0: {{forecastTopic.options.[0]}}</p>
      {{/if}}
            {{#if forecastTopic.options.[1]}}
        <p> option 1: {{forecastTopic.options.[1]}}</p>
      {{/if}}
      {{#if forecastTopic.options.[2]}}
        <p> option 2: {{forecastTopic.options.[2]}}</p>
      {{/if}}
      {{#if forecastTopic.options.[3]}}
        <p> option 3: {{forecastTopic.options.[3]}}</p>
      {{/if}}
      {{#if forecastTopic.options.[4]}}
        <p> option 4: {{forecastTopic.options.[4]}}</p>
      {{/if}}
<br>

    <p>This topic is closed and you cannot submit guesses</p>
    <br>
      {{/if}}


{{!-- COMMENTS --}}
          <span class="card-title">Comments</span>

{{!-- list comments --}}
      {{#each forecastTopic.comments}}
        <div class="card">
          <div class="card-content">
            <h5>{{commentBody}}</h5>
            <div class="chip">
              <img src="{{commentUser.image}}">
              <a href="/forecasts/user/{{commentUser.id}}">
              <h5>{{commentUser.firstName}} {{commentUser.lastName}}</h5>
              </a>
            </div>
            <br>
            <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
          </div>
        </div>
      {{/each}}

{{!-- add new comment --}}
          {{#if user}}
            <form method="post" action="/forecasts/comment/{{forecastTopic.id}}">
              <div class="input-field">
                <textarea name="commentBody" class="materialize-textarea"></textarea>
                <label> Add Comment</label>
              </div>
              <input type="submit" value="Submit Comment" class="btn">
            </form>
          {{else}}
            <p>Please <a href="/auth/google">log</a> in to leave a comment</p>
          {{/if}}


{{!-- change status --}}
<br>
<div class="row">
<form action="/forecasts/submitResult/{{forecastTopic.id}}?_method=PUT" method="post">
<input type="hidden" name="_method" value="PUT">

  <div class="input-field col s8">

    <input type="hidden" name="title" value="{{forecastTopic.title}}">
    <input type="hidden" name="details" value="{{forecastTopic.details}}">
      
    <select name="status">
      <option value="Unresolved and open" >Unresolved and Open for Guesses</option>
      <option value="Unresolved and closed">Unresolved and Closed for Guesses</option>
      <option value="Option 0 is True">Option 0 is True</option>
      <option value="Option 1 is True">Option 1 is True</option>
      <option value="Option 2 is True">Option 2 is True</option>
      <option value="Option 3 is True">Option 3 is True</option>
      <option value="Option 4 is True">Option 4 is True</option>
    </select>
    <label>Change Status Once the Topic is Resolved and/or Guessing is Closed</label>
  </div>
  <div class="input-field col s2">
    <input type="submit" value="Submit Status" class="btn waves-effect waves-light">
    </div>

        </form>
        </div>
<h5>Guesses for closed topics</h5>
{{#if open}}
  <table class="striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Guess</th>
        <th>Brier Score</th>
      </tr>
    </thead>

    <tbody>
{{#each forecastTopic.submits}}
        <tr>
          <td><a href="/users/show/{{user._id}}">{{user.firstName}} {{user.lastName}};</a></td>          
          <td>{{formatDate date 'MMMM Do YYYY'}}</td>
          {{#if submittedProbability}}
            <td>{{submittedProbability}} %</td>
            {{else}}
            <td>No Submit</td>
            {{/if}}
            {{#if brierScore}}
              <td>{{brierScore}}</td>
              {{else}}
              <td>Not Resolved</td>
            {{/if}}
        </tr>
        {{/each}}

    </tbody>
  </table>

{{else}}

<p>Guesses will be revealed here once the topic is closed</p>

  {{/if}}

        </div>
      </div>

<br>





